.dashboard {
    padding-top: 8px;
    width: 100%;
    height: calc(100% - 8px);
    display: flex;
    overflow: hidden;
    user-select: none;
}
.dashboard>h1 {
    flex: 1 1 0px;
    line-height: 50px;
    margin: 0px;
    margin-left: 20px;
}
.dashboard>ul {
    flex: 3 1 0px;
    margin-top: 20px;
}
.dashboard>ul>li {
    list-style-type: none;
    float: left;
    margin: 0px 10px;
}
.dashboard>ul>li>strong{
    color: gold;
}