.list-panel {
    flex: 9 1 0px;
    box-sizing: border-box;
    background-color: black;
    overflow-y: auto;
    margin: 0px 15px 15px;
    padding: 10px;
    border-radius: 8px;
}
.list-panel ul {
    padding: 0px 5px;
}