#app {
    overflow: hidden;
    height: 100vh;
    background-color: gold;
    color: aliceblue;
    display: grid;
    grid-template-rows: 70px repeat(2, minmax(100px, 1fr));
    grid-template-columns: 150px repeat(4, minmax(100px, 1fr));
    grid-template-areas: "header header        header           header           header"
                         "nav    miner-list    miner-details    blockchain-info  block-details"
                         "nav    investor-list investor-details transaction-list block-details";
    grid-gap: 4px;
}
#app>header {
    grid-area: header;
    background-color: purple;
    display: flex;
    overflow: hidden;
}
#app>header>h1 {
    flex: 1 1 0px;
    line-height: 50px;
    margin: 0px;
    margin-left: 20px;
}
#app>header>ul {
    flex: 3 1 0px;
    margin-top:20px;
}
#app>header>ul>li {
    list-style-type: none;
    float: left;
    margin: 0px 10px;
}
#app>nav {
    cursor: default;
    grid-area: nav;
    background-color: grey;
    user-select: none;
}
#app>nav>a {
    margin-top: 10px;
    display: block;
    cursor: pointer;
    color: yellow;
    height: 2rem;
    line-height: 2rem;
}
#app>nav>a:hover {
    background-color: peru;
}
#app>div>div {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-wrap: break-word;
    word-break: break-all;
}
#app {
    background-color: gold;
}
#app>div {
    background-color: grey;
}
#app>.minerlist {
    grid-area: miner-list;
}
#app>.miner-details {
    grid-area: miner-details;
}
#app>.investor-list {
    grid-area: investor-list;
}
#app>.investor-details {
    grid-area: investor-details;
}
#app>.transaction-list {
    grid-area: transaction-list;
}
#app>.blockchain-info {
    grid-area: blockchain-info;
}
#app>.block-details {
    grid-area: block-details;
}
