#app {
    overflow: hidden;
    height: 100%;
    background-color: gold;
    color: aliceblue;
    display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 150px 1fr;
    grid-template-areas: "header header" "nav main";
    grid-gap: 10px;
}
#app>header {
    grid-area: header;
    background-color: purple;
    display: flex;
    overflow: hidden;
}
#app>header>h1 {
    flex: 1 1 0px;
    line-height: 50px;
    margin: 0px;
    margin-left: 20px;
}
#app>header>ul {
    flex: 3 1 0px;
    margin-top:20px;
}
#app>header>ul>li {
    list-style-type: none;
    float: left;
    margin: 0px 10px;
}
#app>nav {
    cursor: default;
    grid-area: nav;
    background-color: grey;
    user-select: none;
}
#app>nav>a {
    margin-top: 10px;
    display: block;
    cursor: pointer;
    color: yellow;
    height: 2rem;
    line-height: 2rem;
}
#app>nav>a:hover {
    background-color: peru;
}
#app>main {
    grid-area: main;
    background-color: grey;
}
#app>main {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-areas: "miner-list    miner-details    blockchain-info transaction-list"
                         "investor-list investor-details block-details   transaction-list";
    grid-gap: 3px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
#app>main>div>div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#app>main {
    background-color: gold;
}
#app>main>div {
    background-color: grey;
}
#app>main>.minerlist {
    grid-area: miner-list;
}
#app>main>.miner-details {
    grid-area: miner-details;
}
#app>main>.investor-list {
    grid-area: investor-list;
}
#app>main>.investor-details {
    grid-area: investor-details;
}
#app>main>.transaction-list {
    grid-area: transaction-list;
}
#app>main>.blockchain-info {
    grid-area: blockchain-info;
}
#app>main>.block-details {
    grid-area: block-details;
}